<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.mapper.BrandMapper" >
  <resultMap id="BrandResultMap" type="org.lanqiao.entity.Brand" >
    <id column="brand_id" property="brand_id" jdbcType="BIGINT" />
    <result column="brand_name" property="brand_name" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BrandResultMapWithBLOBs" type="org.lanqiao.entity.Brand" extends="BrandResultMap" >
    <result column="brand_img" property="brand_img" jdbcType="LONGVARCHAR" />
  </resultMap>
<!--  ********************************************************-->
  <resultMap id="BrandProductResultMap" type="org.lanqiao.entity.Brand" >
    <id column="brand_id" property="brand_id" jdbcType="BIGINT" />
    <result column="brand_name" property="brand_name" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BrandProductResultMapWithBLOBs" type="org.lanqiao.entity.Brand" extends="BrandResultMap" >
    <result column="brand_img" property="brand_img" jdbcType="LONGVARCHAR" />
    <collection property="productSet" resultMap="ProductResultMapWithBLOBs" />
  </resultMap>

  <resultMap id="ProductResultMap" type="org.lanqiao.entity.Product" >
    <id column="pro_id" property="pro_id" jdbcType="BIGINT" />
    <result column="pro_name" property="pro_name" jdbcType="VARCHAR" />
    <result column="pro_weight" property="pro_weight" jdbcType="DOUBLE" />
    <result column="pro_color" property="pro_color" jdbcType="VARCHAR" />
    <result column="pro_issued_" property="pro_issued_" jdbcType="DATE" />
    <result column="pro_price" property="pro_price" jdbcType="DOUBLE" />
    <result column="pro_product" property="pro_product" jdbcType="DATE" />
    <result column="pro_describ" property="pro_describ" jdbcType="VARCHAR" />
    <result column="pro_count" property="pro_count" jdbcType="BIGINT" />
    <result column="kind_id" property="kind_id" jdbcType="BIGINT" />
    <result column="brand_id" property="brand_id" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ProductResultMapWithBLOBs" type="org.lanqiao.entity.Product" extends="ProductResultMap" >
    <result column="pro_img" property="pro_img" jdbcType="LONGVARCHAR" />
  </resultMap>
  <!--  ********************************************************-->
  <sql id="Base_Column_List" >
    brand_id, brand_name
  </sql>
  <sql id="Blob_Column_List" >
    brand_img
  </sql>

  <select id="select_Brand_Product" resultMap="BrandProductResultMapWithBLOBs" parameterType="java.lang.Long">
    select b.*,p.* from brand b,product p where b.brand_id = p.brand_id and b.brand_id = #{brand_id}
  </select>
  <select id="selectAllBrand" resultType="org.lanqiao.entity.Brand">
    select * from brand
  </select>

  <select id="selectByPrimaryKeyBrand" resultMap="BrandResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from brand
    where brand_id = #{brand_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKeyBrand" parameterType="java.lang.Long" >
    delete from brand
    where brand_id = #{brand_id,jdbcType=BIGINT}
  </delete>
  <insert id="insertBrand" parameterType="org.lanqiao.entity.Brand" >
    insert into brand (brand_id, brand_name, brand_img
      )
    values (#{brand_id,jdbcType=BIGINT}, #{brand_name,jdbcType=VARCHAR}, #{brand_img,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelectiveBrand" parameterType="org.lanqiao.entity.Brand" >
    insert into brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="brand_id != null" >
        brand_id,
      </if>
      <if test="brand_name != null" >
        brand_name,
      </if>
      <if test="brand_img != null" >
        brand_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="brand_id != null" >
        #{brand_id,jdbcType=BIGINT},
      </if>
      <if test="brand_name != null" >
        #{brand_name,jdbcType=VARCHAR},
      </if>
      <if test="brand_img != null" >
        #{brand_img,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelectiveBrand" parameterType="org.lanqiao.entity.Brand" >
    update brand
    <set >
      <if test="brand_name != null" >
        brand_name = #{brand_name,jdbcType=VARCHAR},
      </if>
      <if test="brand_img != null" >
        brand_img = #{brand_img,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where brand_id = #{brand_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBsBrand" parameterType="org.lanqiao.entity.Brand" >
    update brand
    set brand_name = #{brand_name,jdbcType=VARCHAR},
      brand_img = #{brand_img,jdbcType=LONGVARCHAR}
    where brand_id = #{brand_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyBrand" parameterType="org.lanqiao.entity.Brand" >
    update brand
    set brand_name = #{brand_name,jdbcType=VARCHAR}
    where brand_id = #{brand_id,jdbcType=BIGINT}
  </update>
</mapper>