<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.mapper.ProductMapper" >
  <resultMap id="ProductResultMap" type="org.lanqiao.entity.Product" >
    <id column="pro_id" property="pro_id" jdbcType="BIGINT" />
    <result column="pro_name" property="pro_name" jdbcType="VARCHAR" />
    <result column="pro_weight" property="pro_weight" jdbcType="DOUBLE" />
    <result column="pro_color" property="pro_color" jdbcType="VARCHAR" />
    <result column="pro_issued_" property="pro_issued_" jdbcType="DATE" />
    <result column="pro_price" property="pro_price" jdbcType="DOUBLE" />
    <result column="pro_product" property="pro_product" jdbcType="DATE" />
    <result column="pro_describ" property="pro_describ" jdbcType="VARCHAR" />
    <result column="pro_count" property="pro_count" jdbcType="BIGINT" />
    <result column="kind_id" property="kind_id" jdbcType="BIGINT" />
    <result column="brand_id" property="brand_id" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ProductResultMapWithBLOBs" type="org.lanqiao.entity.Product" extends="ProductResultMap" >
    <result column="pro_img" property="pro_img" jdbcType="LONGVARCHAR" />
  </resultMap>
<!--  ******************************************************************-->
  <resultMap id="ProductKBEResultMap" type="org.lanqiao.entity.Product" >
    <id column="pro_id" property="pro_id" jdbcType="BIGINT" />
    <result column="pro_name" property="pro_name" jdbcType="VARCHAR" />
    <result column="pro_weight" property="pro_weight" jdbcType="DOUBLE" />
    <result column="pro_color" property="pro_color" jdbcType="VARCHAR" />
    <result column="pro_issued_" property="pro_issued_" jdbcType="DATE" />
    <result column="pro_price" property="pro_price" jdbcType="DOUBLE" />
    <result column="pro_product" property="pro_product" jdbcType="DATE" />
    <result column="pro_describ" property="pro_describ" jdbcType="VARCHAR" />
    <result column="pro_count" property="pro_count" jdbcType="BIGINT" />
    <result column="kind_id" property="kind_id" jdbcType="BIGINT" />
    <result column="brand_id" property="brand_id" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ProductKBEResultMapWithBLOBs" type="org.lanqiao.entity.Product" extends="ProductKBEResultMap" >
    <result column="pro_img" property="pro_img" jdbcType="LONGVARCHAR" />
    <association property="kind" resultMap="KindResultMap" />
    <association property="brand" resultMap="BrandResultMapWithBLOBs" />
    <collection property="evaluateSet" resultMap="EvaluateResultMap" />
  </resultMap>
  <!--  ******************************************************************-->
  <resultMap id="EvaluateResultMap" type="org.lanqiao.entity.Evaluate" >
    <id column="eva_id" property="eva_id" jdbcType="BIGINT" />
    <result column="eva_content" property="eva_content" jdbcType="VARCHAR" />
    <result column="user_id" property="user_id" jdbcType="BIGINT" />
    <result column="pro_id" property="pro_id" jdbcType="BIGINT" />
  </resultMap>

  <resultMap id="KindResultMap" type="org.lanqiao.entity.Kind" >
    <id column="kind_id" property="kind_id" jdbcType="BIGINT" />
    <result column="kind_name" property="kind_name" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="BrandResultMap" type="org.lanqiao.entity.Brand" >
    <id column="brand_id" property="brand_id" jdbcType="BIGINT" />
    <result column="brand_name" property="brand_name" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BrandResultMapWithBLOBs" type="org.lanqiao.entity.Brand" extends="BrandResultMap" >
    <result column="brand_img" property="brand_img" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pro_id, pro_name, pro_weight, pro_color, pro_issued_, pro_price, pro_product, pro_describ, 
    pro_count, kind_id, brand_id
  </sql>
  <sql id="Blob_Column_List" >
    pro_img
  </sql>

  <select id="selectAllProductKBE" resultMap="ProductKBEResultMapWithBLOBs">
    select k.*,b.*,p.*,e.* from product p,kind k,brand b,evaluate e where p.kind_id = k.kind_id and p.brand_id = b.brand_id and p.pro_id = e.pro_id
  </select>

  <select id="selectAllProduct" resultType="java.util.Map">
    select * from product
  </select>
  <select id="selectByPrimaryKeyProduct" resultMap="ProductResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from product
    where pro_id = #{pro_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKeyProduct" parameterType="java.lang.Long" >
    delete from product
    where pro_id = #{pro_id,jdbcType=BIGINT}
  </delete>
  <insert id="insertProduct" parameterType="org.lanqiao.entity.Product" >
    insert into product (pro_id, pro_name, pro_weight, 
      pro_color, pro_issued_, pro_price, 
      pro_product, pro_describ, pro_count, 
      kind_id, brand_id, pro_img
      )
    values (#{pro_id,jdbcType=BIGINT}, #{pro_name,jdbcType=VARCHAR}, #{pro_weight,jdbcType=DOUBLE}, 
      #{pro_color,jdbcType=VARCHAR}, #{pro_issued_,jdbcType=DATE}, #{pro_price,jdbcType=DOUBLE}, 
      #{pro_product,jdbcType=DATE}, #{pro_describ,jdbcType=VARCHAR}, #{pro_count,jdbcType=BIGINT}, 
      #{kind_id,jdbcType=BIGINT}, #{brand_id,jdbcType=BIGINT}, #{pro_img,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelectiveProduct" parameterType="org.lanqiao.entity.Product" >
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pro_id != null" >
        pro_id,
      </if>
      <if test="pro_name != null" >
        pro_name,
      </if>
      <if test="pro_weight != null" >
        pro_weight,
      </if>
      <if test="pro_color != null" >
        pro_color,
      </if>
      <if test="pro_issued_ != null" >
        pro_issued_,
      </if>
      <if test="pro_price != null" >
        pro_price,
      </if>
      <if test="pro_product != null" >
        pro_product,
      </if>
      <if test="pro_describ != null" >
        pro_describ,
      </if>
      <if test="pro_count != null" >
        pro_count,
      </if>
      <if test="kind_id != null" >
        kind_id,
      </if>
      <if test="brand_id != null" >
        brand_id,
      </if>
      <if test="pro_img != null" >
        pro_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pro_id != null" >
        #{pro_id,jdbcType=BIGINT},
      </if>
      <if test="pro_name != null" >
        #{pro_name,jdbcType=VARCHAR},
      </if>
      <if test="pro_weight != null" >
        #{pro_weight,jdbcType=DOUBLE},
      </if>
      <if test="pro_color != null" >
        #{pro_color,jdbcType=VARCHAR},
      </if>
      <if test="pro_issued_ != null" >
        #{pro_issued_,jdbcType=DATE},
      </if>
      <if test="pro_price != null" >
        #{pro_price,jdbcType=DOUBLE},
      </if>
      <if test="pro_product != null" >
        #{pro_product,jdbcType=DATE},
      </if>
      <if test="pro_describ != null" >
        #{pro_describ,jdbcType=VARCHAR},
      </if>
      <if test="pro_count != null" >
        #{pro_count,jdbcType=BIGINT},
      </if>
      <if test="kind_id != null" >
        #{kind_id,jdbcType=BIGINT},
      </if>
      <if test="brand_id != null" >
        #{brand_id,jdbcType=BIGINT},
      </if>
      <if test="pro_img != null" >
        #{pro_img,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelectiveProduct" parameterType="org.lanqiao.entity.Product" >
    update product
    <set >
      <if test="pro_name != null" >
        pro_name = #{pro_name,jdbcType=VARCHAR},
      </if>
      <if test="pro_weight != null" >
        pro_weight = #{pro_weight,jdbcType=DOUBLE},
      </if>
      <if test="pro_color != null" >
        pro_color = #{pro_color,jdbcType=VARCHAR},
      </if>
      <if test="pro_issued_ != null" >
        pro_issued_ = #{pro_issued_,jdbcType=DATE},
      </if>
      <if test="pro_price != null" >
        pro_price = #{pro_price,jdbcType=DOUBLE},
      </if>
      <if test="pro_product != null" >
        pro_product = #{pro_product,jdbcType=DATE},
      </if>
      <if test="pro_describ != null" >
        pro_describ = #{pro_describ,jdbcType=VARCHAR},
      </if>
      <if test="pro_count != null" >
        pro_count = #{pro_count,jdbcType=BIGINT},
      </if>
      <if test="kind_id != null" >
        kind_id = #{kind_id,jdbcType=BIGINT},
      </if>
      <if test="brand_id != null" >
        brand_id = #{brand_id,jdbcType=BIGINT},
      </if>
      <if test="pro_img != null" >
        pro_img = #{pro_img,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where pro_id = #{pro_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBsProduct" parameterType="org.lanqiao.entity.Product" >
    update product
    set pro_name = #{pro_name,jdbcType=VARCHAR},
      pro_weight = #{pro_weight,jdbcType=DOUBLE},
      pro_color = #{pro_color,jdbcType=VARCHAR},
      pro_issued_ = #{pro_issued_,jdbcType=DATE},
      pro_price = #{pro_price,jdbcType=DOUBLE},
      pro_product = #{pro_product,jdbcType=DATE},
      pro_describ = #{pro_describ,jdbcType=VARCHAR},
      pro_count = #{pro_count,jdbcType=BIGINT},
      kind_id = #{kind_id,jdbcType=BIGINT},
      brand_id = #{brand_id,jdbcType=BIGINT},
      pro_img = #{pro_img,jdbcType=LONGVARCHAR}
    where pro_id = #{pro_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyProduct" parameterType="org.lanqiao.entity.Product" >
    update product
    set pro_name = #{pro_name,jdbcType=VARCHAR},
      pro_weight = #{pro_weight,jdbcType=DOUBLE},
      pro_color = #{pro_color,jdbcType=VARCHAR},
      pro_issued_ = #{pro_issued_,jdbcType=DATE},
      pro_price = #{pro_price,jdbcType=DOUBLE},
      pro_product = #{pro_product,jdbcType=DATE},
      pro_describ = #{pro_describ,jdbcType=VARCHAR},
      pro_count = #{pro_count,jdbcType=BIGINT},
      kind_id = #{kind_id,jdbcType=BIGINT},
      brand_id = #{brand_id,jdbcType=BIGINT}
    where pro_id = #{pro_id,jdbcType=BIGINT}
  </update>
</mapper>